body.h1 {
    color: red !important;
}

.piros{
    background-color:red;
}

.kek{
    background-color:blue;
}

.zold{
    background-color: green;
}


.narancs{
    background-color: orange;
}

.lila{
    background-color: purple;
}

